
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

.nav-user {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    padding: 5px 20px;
    position: relative;
    display: inline-block;
    background-color: coral;
    border-radius: 5px;
}

.nav-user .user-pop {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    width: 250px;
    margin-left: -135px;
    opacity: 0;
    transition: opacity 0.75s;
}

.nav-user .user-pop::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.nav-user:hover .user-pop {
    visibility: visible;
    opacity: 1;
}

.user-pop-td-left{
    text-align: left;
    width: 90px;
}

.user-pop-td-right{
    text-align: left;
}

.user-pop-horizon {
    display: flex;
    margin: 10px 0;
}

.user-pop-horizon-item {
    flex-basis: 100%;
}

.nav-btn {
    font-size: 15pt;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px 15px;
    display: inline;
    list-style-type: none;
    border-radius: 5px;
    font-size: 14pt;
    background-color: lightgrey;
}

.post {
    max-width: 640px;
    overflow: hidden;
    margin: 30px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
}

.post-title {
    padding: 20px 40px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.post-desc {
    font-size: 11pt;
    padding: 20px 40px;
    margin: 0;
    font-family: fantasy;
}

.post-thumb {
    margin: 0;
    padding: 3px;
    width: 150px;
    height: 150px;
    border: 2px solid snow;
}

.post-image {
    width: 640px;
    height: 640px;
}

.post-date {
    font-size: 15px;
    color: grey;
    margin:  10px 5px;
}

.post-bottom {
    display: table;
    padding: 5px;
    width: 100%;
}

.post-bottom-like {
    display: flex;
    align-items: center;
}

.post-bottom-like-name {
    color: royalblue;
}

.post-bottom-comment {
    display: flex;
    align-items: center;
}

.post-bottom-comment-list {
    background-color: azure;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
}

.post-bottom-comment-list-item {
    font-size: 14pt;
    margin: 5px;
}

.post-bottom-text {
    margin: 5px;
}

@media screen and (max-width: 500px) {
    .post {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        border-top: 1px solid rgba(0,0,0,.0975); 
        max-height: 60vh;
    }

    .post-image {
        max-width: 100%;
        max-height: 60vh;
    }

    #feed > * {
        flex: 1 1 45%;
        height: auto;
    }
}

/* Add your styles here */
dialog {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dialog-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.dialog-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dialog-close:hover,
.dialog-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dialog-btn {
    display: flex;
    font-size: 20px;
    margin:  10px auto 0 auto;
}

.comment-input {
    width: 100%;
    font-size: 11pt;
}